<h1>Задание</h1>
<p>
  Написать программу, определяющую, сколько из чисел в диапазоне
  от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при
  возведении в квадрат, образуют палиндромы. Например: 22<sup>2</sup> → 484 . Вы-
  вести на печать числа, квадраты и их количество.
</p>

<%= form_with id: :form, format: :json, url: welcome_result_path, method: 'get' do |f| %>
  <%= f.label :n, :N %>
  <%= f.number_field :n, required: true, min: 1, value: '5' %>

  <%= f.submit 'Посчитать' %>
<% end %>

<div id="result"></div>

<%= javascript_pack_tag 'welcome' %>
